# Database URL para Prisma
# Descomentar y configurar segun tu entorno:

# Para SQLite (desarrollo local):
# DATABASE_URL="file:./prisma/dev.db"

# Para MySQL:
# DATABASE_URL="mysql://usuario:password@localhost:3306/nombre_base"

# Para PostgreSQL:
# DATABASE_URL="postgresql://usuario:password@localhost:5432/nombre_base"
#DATABASE_HOST=localhost
#DATABASE_USER=root
#DATABASE_PASSWORD=root
#DATABASE_NAME=app_db
#agregamos la secret key para JWT
#JWT_SECRET="cl@v3s3cr3t@123"